@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Khula:400,700,600,300);
/**
* Global Reset of all HTML Elements
*
* Resetting all of our HTML Elements ensures a smoother
* visual transition between browsers. If you don't believe me,
* try temporarily commenting out this block of code, then go
* and look at Mozilla versus Safari, both good browsers with
* a good implementation of CSS. The thing is, all browser CSS
* defaults are different and at the end of the day if visual
* consistency is what we're shooting for, then we need to
* make sure we're resetting all spacing elements.
*
*/
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

div, span, object, iframe, img, table, caption, thead, tbody, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption, table th, table td {
    text-align: left;
    vertical-align: middle; }

a img {
  border: 0; }

:focus {
  outline: 0; }

body {
  font-family: 'Khula', sans-serif;
  background: #fafafa;
  color: #2d2d2d;
  padding: 0 5%; }

* {
  box-sizing: border-box; }

@media (max-width: 650px) {
  .link--github {
    display: none; } }

.anchor-link {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden; }

a:link, a:visited {
  color: #3498DB;
  text-decoration: none; }

a:hover {
  color: #1d6fa5; }

a:active {
  color: #16527a; }

ul, ol {
  list-style-position: inside;
  padding-left: 20px; }

.info {
  max-width: 65%; }

.mainHeader {
  background: -webkit-linear-gradient(top, #0098C6 0%, #3e5771 100%);
  background: linear-gradient(to bottom, #0098C6 0%, #3e5771 100%); }

.mainHeader-illustration {
  width: 93%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .mainHeader-illustration svg {
    min-width: 400px;
    margin: auto;
    -webkit-box-flex: 3;
    -webkit-flex: 3 0 30%;
        -ms-flex: 3 0 30%;
            flex: 3 0 30%; }

.mainHeader-illustration .illustrationText {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  color: #fafafa;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
  .mainHeader-illustration .illustrationText .github-badges {
    margin-top: 15px;
    text-align: center; }
  .mainHeader-illustration .illustrationText h1 {
    font-size: 2.5rem; }

@media (max-width: 870px) {
  .mainHeader-illustration svg {
    display: none; } }

.mainNavigation {
  z-index: 3;
  height: 0px;
  position: fixed;
  min-height: initial;
  top: 0;
  left: 0;
  width: 100%;
  background: #0098C6; }

.mainNavigation-inner {
  width: 93%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .mainNavigation-inner ul {
    list-style-type: none;
    margin-top: 5px;
    font-size: 1.2rem; }
    .mainNavigation-inner ul li {
      float: left; }
      .mainNavigation-inner ul li:last-child a {
        margin-right: 0; }
    .mainNavigation-inner ul li a {
      display: block;
      margin-left: 20px;
      color: #fafafa;
      -webkit-transition: all 300ms;
              transition: all 300ms;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300; }
      .mainNavigation-inner ul li a:hover {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }
    .mainNavigation-inner ul li:first-child a {
      margin-left: 0; }

@media (max-width: 630px) {
  .mainNavigation-inner ul li:nth-last-child(1), .mainNavigation-inner ul li:nth-last-child(2) {
    display: none; } }

.mainNavigation-inner h1 a {
  display: block; }
  .mainNavigation-inner h1 a img {
    height: 33px; }

.chevronDown {
  height: 25px;
  display: block;
  text-align: center;
  -webkit-transition: all 400ms;
          transition: all 400ms; }
  .chevronDown i {
    -webkit-transition: all 400ms;
            transition: all 400ms;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 6px;
    height: 5px;
    width: 50px;
    top: 10px;
    opacity: 0.5; }
    .chevronDown i:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: #0EC2DB;
      -webkit-transform: skew(0deg, 6deg);
      -ms-transform: skew(0deg, 6deg);
      transform: skew(0deg, 6deg); }
    .chevronDown i:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: #0EC2DB;
      -webkit-transform: skew(0deg, -6deg);
      -ms-transform: skew(0deg, -6deg);
      transform: skew(0deg, -6deg); }
  .chevronDown:hover i {
    opacity: 1; }

.graphNode--blue {
  fill: #2C3E50;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 70% 70%; }

.graphEdge--fade, .graphNode--fade {
  -webkit-animation-name: 'fade_animation';
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(.95); }

  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes fade_animation {
  0% {
    opacity: 1; }

  20% {
    opacity: .9; }

  30% {
    opacity: .2; }

  50% {
    opacity: .2; }

  60% {
    opacity: .2; }

  70% {
    opacity: .2; }

  100% {
    opacity: 1; } }

.CodeMirror {
  z-index: 0;
  padding-bottom: 0.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.CodeMirror, .inner--result {
  font-size: 1rem; }

.window .CodeMirror-lines {
  padding: 0;
  padding-left: 0.4rem; }

.playground .window .CodeMirror-lines {
  padding: 0; }
.playground .CodeMirror {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px; }
.playground .CodeMirror-line-numbers {
  font-size: 0.2rem; }
.playground .CodeMirror, .playground .inner--result {
  font-size: 1.15rem; }
.playground .window {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
.playground .control {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%; }
.playground .inner--code {
  -webkit-box-flex: 1;
  -webkit-flex: 1 65%;
      -ms-flex: 1 65%;
          flex: 1 65%; }
.playground .inner--result {
  -webkit-box-flex: 1;
  -webkit-flex: 1 35%;
      -ms-flex: 1 35%;
          flex: 1 35%; }

.test-summary {
  font-size: 0.9rem;
  text-align: center; }

.editor-pending {
  color: #f7ac3c; }

.editor-success {
  color: #4ca73c; }

.editor > .inner > textarea {
  display: none; }

.editor-error {
  color: #f25156; }
  .editor-error pre {
    font-size: 12px;
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */ }

.window {
  background: #fafafa;
  width: 100%;
  border-radius: 3px;
  margin: 20px auto;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2); }

.window .inner {
  padding: 0.5rem 0.75rem 0.1rem 0.75rem; }

.window .inner--result {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.window .inner--code--withoutResult {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.window.window--code {
  background: none; }

.window .inner--code {
  padding: 0; }

.inner--result {
  color: #474747;
  font-weight: 300; }

pre code {
  padding: 0 10px;
  background: #141414;
  display: block;
  padding: 10px;
  border-radius: 3px;
  overflow: auto; }

p code, ul code, li code {
  background: #fdefed;
  border: 1px solid #f8c9c4;
  line-height: 1.4rem;
  padding: 0 5px;
  display: inline-block;
  border-radius: 2px; }

.mainContent {
  width: 93%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  display: block; }
  .mainContent.playground {
    width: auto;
    max-width: none;
    margin: 3rem 0px; }

.mainContent h1, .mainContent h2, .mainContent h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 100;
  position: relative;
  word-wrap: break-word;
  color: #E74C3C; }

.mainContent h1 {
  margin-top: 50px;
  margin-top: 0; }

.mainContent h2 {
  font-size: 1.5rem; }

.mainContent h3 {
  font-size: 1.4rem; }

.mainContent p {
  line-height: 1.7rem; }

.mainContent table {
  width: 100%;
  margin: 10px 0;
  background: #fff; }
  .mainContent table td, .mainContent table th {
    padding: 5px; }
  .mainContent table tr:nth-child(odd) td {
    background: #fdf3f2; }

.playground h1, .playground h2, .playground h3 {
  margin-top: 1rem; }

.mainContent p {
  margin-bottom: 20px; }

.mainContent img {
  max-width: 100%; }

.edit-page-link {
  position: absolute;
  top: -0.8rem;
  right: 0;
  font-size: 0.7rem; }

.fromMarkdown pre code {
  margin-bottom: 30px; }

p img {
  background: #fff; }

.column ul, .column ol {
  margin: 20px 0; }

.column {
  margin-left: calc(31% + 2rem); }

.nav-left {
  float: left;
  width: 31%;
  margin-right: 1rem;
  font-size: 0.9rem; }

.nav-left ul, .nav-left ol {
  padding: 0;
  padding-left: 10px;
  list-style-type: none; }

.nav-left h3 {
  margin: 0; }

.nav-left > :not(:first-child) {
  margin-top: 30px; }

.nav-left h3 a {
  font-size: 1.2rem;
  font-weight: 100;
  color: #2C3E50;
  text-transform: uppercase;
  display: block; }

.nav-left ul a, .nav-left ol a {
  display: block;
  padding: 5px 0;
  color: #2C3E50;
  -webkit-transition: all 300ms;
          transition: all 300ms; }
  .nav-left ul a:hover, .nav-left ol a:hover {
    color: #8aa4be; }

@media (max-width: 650px) {
  .nav-left {
    display: none; }
  .column {
    margin-left: 0; } }

.docs-prevnext {
  margin: 20px 0; }
  .docs-prevnext:after {
    content: "";
    display: table;
    clear: both; }

.docs-prev {
  float: left; }

.docs-next {
  float: right; }

form {
  margin: 0; }

input[type=text], textarea {
  font-size: 1rem; }

/*
   Animation example, for spinners
*/
.animate-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello.eot?22358951');
  src: url('../assets/font/fontello.eot?22358951#iefix') format('embedded-opentype'), url('../assets/font/fontello.woff?22358951') format('woff'), url('../assets/font/fontello.ttf?22358951') format('truetype'), url('../assets/font/fontello.svg?22358951#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22358951#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\e800'; }

/* '' */
.icon-fork:before {
  content: '\e801'; }

/* '' */
.icon-spin2:before {
  content: '\e802'; }

/* '' */
.icon-github-circled:before {
  content: '\e803'; }

/* '' */